:root{
  --primary-color: #FF9900; 
  --secondary-color: #6599FF; 
  --accent1: black; 
  --accent2: #FFDE00; 

  --heading-font: "Crimson Pro", serif;

}

body{
  margin: 0 auto;
  background-color: var(--secondary-color);
  font-size: 17px;
  max-width: 960px;
}

h1,
h2,
h3{
  font-family: var(--heading-font);
  letter-spacing: .2rem;
  color: var(--accent1);
  padding: 1rem;
}

p, 
span,
a,
figcaption,
footer
{
  font-family: var(--heading-font);
  color: var(--accent1);
  padding: 0 1rem;

}

/*** menu ***/

header{
  text-align: center;
}
main{
  background-color: var(--secondary-color);
}

.button,
nav,
.drinks,
.getContact,
footer{
  background-color: var(--primary-color);
}

.getContact{
text-align: center;
padding-bottom: .5rem;
}

.moreInfo{
display: none;
}

.button{
  padding: .8rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
}
button,
.submit 
{
border: none;
outline: none;
}
.mainnav button {
margin: 0.2rem 2vw;
background-color: transparent;
font-size: 2rem;
}
#primarynav{
  margin: 0;
}
nav ul {
text-align: center;
list-style-type: none;
padding: 0;
display: none;
}

nav ul.open {
display: block;
}

nav ul li a {
display: block;
padding: 0.8rem 2vw;
text-decoration: none;
color: var(--accent1);
border: 1px solid var(--secondary-color);
}

nav ul li.active a {
background-color: var(--secondary-color);
color: var(--accent1);
}

nav ul li a:hover {
background-color: var(--accent2);
color: var(--secondary-color);
}

/* show the hamburger button */
#hamburgerBtn span:nth-child(1) {
  display: block;
}

/* hide the X button */
#hamburgerBtn span:nth-child(2) {
  display: none;
}

/* hide the hamburger button */
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

/* show the X button */
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}


/*** main section ***/

.home-hero{
  background-color: var(--primary-color);

  background-size: cover;
  text-align: center;
  padding-bottom: .5rem;
}
.promo{
  text-align: center;
}

.action-button{
  background-color: #097054;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 20px;
}
.action-button:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.container,
.history,
.promo{
    background-color: var(--accent2);
    padding-bottom: .5rem;
}

.info{
  padding: 0.5rem 0;
}
.info img, .card img{
    width: 100%;
}
.truck img {
  max-width: 500px;
}

.info,
.mainweather,
.contact{
    background-color: #FF9900;
    padding-bottom: .5rem;
}

.mainweather{
  background-size: cover;
  padding: 0;
  margin: 0;
}

.mainweather h2{
  text-align: center;
}

.cardInfo{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.cardInfo > div {
flex-basis: 50%;
}

.drinks{
  text-align: center;
  background-size: cover;
}

.about section img,
iframe,
.index info img,
.container img,
.info img,
.moreInfo img
{
  border: solid 2px var(--accent1);
  text-align: center;
  width: 90%;
  display: block;
  margin: auto;
}


/*** weather data 3 days ***/
#weatherContainer{
  /* position: absolute; */
  /* top: 70%; */
  left: 50%;
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  /* height: 300px; */
  /* width: 1300px; */
  /* border: 5px solid rgba(97, 95, 95, 0.829);     */
  border-radius: 10px;
} */

#iconsContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 240px;
  width: 1200px;    
  border: 5px solid rgb(31, 82, 82);    
  border-radius: 10px;
}

.icons{
  display: inline-bock;
  float: left;
  height: 200px;
  width: 190px;
  margin: 20px;
  border: 5px solid rgb(48, 47, 47);
  border-radius: 10px;
}

.image{
  height: auto;
  width: 70%;
}

.imgClass{
  height: auto;
  width: 70%;
}

.weather{
  margin: 5px;
 /*  background-color: rgb(106, 215, 255); */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.minValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}


.maxValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

/*** footer ***/
footer{
  text-align: center;
  padding: 0;
}



.fa {
  padding: 5px;
  font-size: 15px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-close {
  align-items: center;
  text-align: center;
}
