body{
  margin: 0 auto;
  background-color: #6599FF;
  font-size: 17px;
  max-width: 960px;
}

h1,
h2,
h3{
  font-family: "Crimson Pro", serif;
  letter-spacing: .2rem;
  color: black;
  padding: 1rem;
}

p, 
span,
a,
figcaption,
footer
{
  font-family: "Crimson Pro", serif;
  color: black;
  padding: 0 1rem;

}

/*** menu ***/

header{
  text-align: center;
}
main{
  background-color: #6599FF;
}

.button,
nav,
.drinks,
.getContact,
footer{
  background-color: #FF9900;
}

.getContact{
text-align: center;
padding-bottom: .5rem;
}

.moreInfo{
display: none;
}

.button{
  padding: .8rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  color: #6599FF;
}
button,
.submit 
{
border: none;
outline: none;
}
.mainnav button {
margin: 0.2rem 2vw;
background-color: transparent;
font-size: 2rem;
}
#primarynav{
  margin: 0;
}
nav ul {
text-align: center;
list-style-type: none;
padding: 0;
display: none;
}

nav ul.open {
display: block;
}

nav ul li a {
display: block;
padding: 0.8rem 2vw;
text-decoration: none;
color: black;
border: 1px solid #6599FF;
}

nav ul li.active a {
background-color: #6599FF;
color: black;
}

nav ul li a:hover {
background-color: #FFDE00;
color: #6599FF;
}

/* show the hamburger button */
#hamburgerBtn span:nth-child(1) {
  display: block;
}

/* hide the X button */
#hamburgerBtn span:nth-child(2) {
  display: none;
}

/* hide the hamburger button */
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

/* show the X button */
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}


/*** main section ***/

.home-hero{
  background-color: #FF9900;

  background-size: cover;
  text-align: center;
  padding-bottom: .5rem;
}
.promo{
  text-align: center;
}

.action-button{
  background-color: #097054;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 20px;
}
.action-button:hover{
  background-color: #6599FF;
  color: #FF9900;
}

.container,
.history,
.promo{
    background-color: #FFDE00;
    padding-bottom: .5rem;
}

.info{
  padding: 0.5rem 0;
}
.info img, .card img{
    width: 100%;
}
.truck img {
  max-width: 500px;
}

.info,
.mainweather,
.contact{
    background-color: #FF9900;
    padding-bottom: .5rem;
}

.mainweather{
  background-size: cover;
  padding: 0;
  margin: 0;
}

.mainweather h2{
  text-align: center;
}

.cardInfo{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.cardInfo > div {
flex-basis: 50%;
}

.drinks{
  text-align: center;
  background-size: cover;
}

.about section img,
iframe,
.index info img,
.container img,
.info img,
.moreInfo img
{
  border: solid 2px black;
  text-align: center;
  width: 90%;
  display: block;
  margin: auto;
}


/*** weather data 3 days ***/
#weatherContainer{
  left: 50%;
  border-radius: 10px;
} */

#iconsContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 240px;
  width: 1200px;    
  border: 5px solid rgb(31, 82, 82);    
  border-radius: 10px;
}

.icons{
  display: inline-bock;
  float: left;
  height: 200px;
  width: 190px;
  margin: 20px;
  border: 5px solid rgb(48, 47, 47);
  border-radius: 10px;
}

.image{
  height: auto;
  width: 70%;
}

.imgClass{
  height: auto;
  width: 70%;
}

.weather{
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.minValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}


.maxValues{
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  height: 25px;
  width: 85px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}


/*** fresh page ***/
input:required{
  border: 2px solid #FF9900;
}
input:valid{
  border:  2px solid black;
}
.info ul{
  list-style: none;
  padding: 0;
}

form input,
input[type="checkbox"]
{
  margin: 0.3rem 5px;
}

textarea{
  width: 100%;
}

.userInfo{
  display: flex;
  flex-direction: column;
  background-size:auto;
  background-repeat: no-repeat;
  background-position: top;
}

.userInfo input{
  height: 2rem;
}

.fruits div {
  display: flex;
  align-items: center;
}

.submit{
  background-color: #097054;
  color: black;
  padding: .5rem;
  border-radius: 10px;
  width: 80%;
  margin: 0.5rem auto;
  display: block;
}

.submit:hover{
  background-color: #FF9900;
  transform: scale(1.1);
  border: none;
}

#submit-message{
  display: none;
  background-color: #ff824dbf;
  color: #6599FF;
  padding: .5rem;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}


.fruitsInfo{
  background-color: #FFDE00;
  text-align: center;
}
.fruitsInfo ol, 
.fruitsInfo h3{
  padding: 0;
  margin: 0;
}
.fruitsInfo ol li{
  list-style-position: inside;
}


/*** footer ***/
footer{
  text-align: center;
  padding: 0;
}



.fa {
  padding: 5px;
  font-size: 15px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-close {
  align-items: center;
  text-align: center;
}
