body {
  font-size: 18px;
  line-height: 1.5;
}

header,
main,
footer {
  margin: 1.25rem auto;
  max-width: 760px;
}

header,
footer {
  background-color: navy;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}

header {
  padding: 1.5rem;
}

/* Example style below  */

/*  This is an element selector only value 1 */
p {
  color: red;
}

/* this adds a class selector value 10 */
.test {
  color: green;
}

/* This adds an ID selector value 100 */
#demo {
  color: blue;
}
