@media screen and (min-width: 32.5em) {
  
  main{
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    

  }
  section {
    border-radius: 10px;

  }

  section:nth-child(3){
    grid-column: span 2;
  }
  
  header,
  nav,main,
  footer {
    margin: 1.25rem auto;
    max-width: 760px;
  }
  header,
  footer {
    border-radius: 10px;
  }

  h1 {
    font-size: 3em;
  }

  h2,h3,h4{
    border-radius: 10px 10px 0 0 ;
  
  }

  img{
    max-width:  90%;
  }

}
